//Colors
$body-main-color: #EDEBD7;
$task-card-bg: #fff;
$task-completed-text: #eee;
$input-el-color: $task-card-bg;
$input-add-btn: $task-completed-text;
$info-card-pending: var(--el-color-warning-light-3);
$info-card-done: var(--el-color-success-light-3);
//Box-shadow
$base-box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.26);
//Transition
$transition: all 0.3s ease;